@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 1280px;
    margin: 50px auto;
}

 header .logo{
    font-weight: 600px;
    font-size: 20px;
}

header ul.nav{
    float: right;
    list-style: none;
}

header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: 500ms ease;
}

header{
    position: relative;
}

header ul.nav li:hover{
    opacity: 0.5;
}

header .shop-cart-button{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}
 header .shop-cart-button:hover,
 header .shop-cart-button.active{
    color: #dc3d3d;
    transform: scale(1.5);
 }

 header .shop-cart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #efefef;
    -webkit-box-shadow: 4px 5px 12px -7px #000000; 
    box-shadow: 4px 5px 12px -7px #000000;
    z-index: 1000;
    padding: 20px ;
    padding-bottom: 0;
 }

 header .shop-cart .item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
 }

 header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
 }

 header .shop-cart .item h2{
    font-size: 20px;
    margin-bottom: 10px;
 }

 header .shop-cart .item p{
    color: #797979;
    font-weight: 600;
 }


main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;
}

main .item{
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    margin-left: 10px;
}

main .item img{
    width: 100%;
    border-radius: 10px 10px 0 0 ;
    transition: transform 500ms ease;
}

main .item img:hover{
    transform: scale(1.1);
}

header .presentation{
    margin: 50px 0;
    background: url('./image/tree-736885__340.jpg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    background-blend-mode: #bcbcbc;
}

main h2, main p, main b {
    margin: 10px 20px ;
    color: #333;
}

main b{
    color: #5fa35f;
}

main .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    transition: transform 500ms ease;

}

main .add-to-cart:hover{
    transform: scale(1.1) translateY(-5px);
}

footer{
    text-align: center;
    margin-top: 100px;
}

